@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #022b85;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    text-align: center;
    color: white;
}

nav{
    background-color: #001b56;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#btn{
    margin: 1vh;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    border: none;
    background-color: #022b85;
    color: white;
}

#restart, #btn, li:hover{
    cursor: pointer;
}

#void{ 
    width: 5vh;
    margin-right: 1vh;
}

main{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

#points{
    margin: 2rem auto;
    border-radius: 40px;
    padding: 1rem 10rem;
    background-color: salmon;
    font-size: 2rem;
    font-weight: bold;
    max-width: 92vh;
    max-height: 92vh;
    cursor: context-menu;
}

li{
    list-style-type: none;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #001b56;
    border: solid;
    border-color: #2d5276;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    width: 20rem;
    max-width: 85vh;
    max-height: 85vh;
}

#restart{
    margin: 2rem auto;
}